*.suo
*.sdf
*.cs
*.pdb
*.obj
*.sbr
*.tlog
*.log
*.bsc
*.user
*.lib
*.idb
*.exe
*.ilk
*.map
*.htm
*.cache
*.ncb
*.wav
*.opensdf
build
.vscode
/pjsip-apps/src/pjsua/winrt/cli/wp8/obj/Win32/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UpgradeLog.htm
